

```<!-- Store ID - 12386463 -->
<script type="text/javascript" src="//app.ecwid.com/script.js?12386463"></script>
<script type="text/javascript">
 Ecwid.OnPageLoad.add(function(page) {
  	 if (page.type == "CART") { 

  	 	console.log("Current page is of type: " + page.type);

  	 	require(["jquery"], function ($) {

  	 		if( !$('#requestQuote').length ) {
				$('.ecwid-productBrowser-cart-rightPanel').append('<a id="requestQuote" class="ecwid-btn ecwid-btn--primary ecwid-btn--checkout" href="http://www.route30grafix.com/contact-us" style="color:#ffffff;">Request a Quote</a>');
			}
		});
  	 }
});
</script>
```