<p>Features a modern feminine fit, crew neck, and tank top.
</p>
<div class="gwt-HTML" role="text" tabindex="0" itemprop="description">
	<div id="tabs-1">
		<div id="tabs-2">
			<div id="tabs-3" class="c-tabs">
				<div class="c-tabs-nav">
					<div class="c-tabs-nav-cell"><a href="#" class="c-tabs-nav__link tabber-tab is-active">
						<span class="c-tabs-text" style="color:;">
						<span class="c-tabs-span" style="color:;">English</span>
						</span></a>
					</div>
					<div class="c-tabs-nav-cell"><a href="#" class="c-tabs-nav__link tabber-tab">
						<span class="c-tabs-text" style="color:;">
						<span class="c-tabs-span" style="color:;">Deutsch</span>
						</span></a>
					</div>
					<div class="c-tabs-nav-cell"><a href="#" class="c-tabs-nav__link tabber-tab">
						<span class="c-tabs-text" style="color:;">
						<span class="c-tabs-span" style="color:;">По-русски</span>
						</span></a>
					</div>
				</div>
				<div class="c-tab tabber-body is-active">
					<div class="c-tab__content">
						<div>
							<p>This is a do-it-yourself kit for making an articulated paper doll.
							</p>
							<p>The set includes:
							</p>
							<p>- Doll printed on cardboard 280g/m2
							</p>
							<p>- Stick for the back
							</p>
							<p>- A stiker for attaching the stick
							</p>
							<p>- All brads you need to put the doll togehter
							</p>
							<p>And the doll has pre-perforated holes! You just need to cut it out and put it together!
							</p>
						</div>
					</div>
				</div>
				<div class="c-tab tabber-body">
					<div class="c-tab__content">
						<div>
							<p>Mini die Diebin - Hampelmann-Gelenkpuppe aus Papier zum selbermachen.
							</p>
							<p>Das ist ein Set zum selbermachen einer "Hampalmann" Papierpuppe.
							</p>
							<p>Das Set enthält:
							</p>
							<p>- Die Puppe, gedruckt auf glänzendem Karton 280g/m2
							</p>
							<p>- Stäbchen zum hinten ankleben
							</p>
							<p>- Ein Sticker mit dem das Stäbchen angeklebt wird
							</p>
							<p>- Alle Klammern die gebraucht werden um die Puppe zusammenzufügen.Die Puppe hat schon vorgebohrte Löcher an den richtigen Stellen. Man muss sie nur noch ausschneiden und mit den beigelegten Materialien zusammenfügen.
							</p>
						</div>
					</div>
				</div>
				<div class="c-tab tabber-body">
					<div class="c-tab__content">
						<div>
							<p>Мини - воровка - бумажная суставная кукла "сделай сам"
							</p>
							<p>Это - набор для сборки самодельной бумажной суставной куклы.
							</p>
							<p>Набор включает:
							</p>
							<p>- Куклу, напечатанную на глянцевом картоне, 280g/м2
							</p>
							<p>- Палочку, которая приклеивается на заднюю строну куклы
							</p>
							<p>- Стикер, с помощью которого приклеивается палочка
							</p>
							<p>- Все крепления, нужные для сборки куклы
							</p>
							<p>На кукле уже просверлены дырки правильного диаметра на всех нужных местах. Ее остается только вырезать по контуру и собрать, с помощью приложенных материалов.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p><br>
	</p>
	<!-- match null, count > 0, expectStart -->
</div>



<link type="text/css" rel="stylesheet" href="https://tabbercdn.e-shopdesigner.com/themes/tabs-sq-tb.min.css">
<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<style type="text/css">#tabs-1 > #tabs-2 > #tabs-3 .tabber-newline-before{display:none;}
#tabs-1 > #tabs-2 > #tabs-3 .tabber-newline-after{display:none;}
#tabs-1 > #tabs-2 > #tabs-3 .tabber-icon-before{display:none;}
#tabs-1 > #tabs-2 > #tabs-3 .tabber-icon-after{display:none;}
#tabs-1 > #tabs-2 > #tabs-3 .tabber-icon{color:gray;}
#tabs-1 > #tabs-2 > #tabs-3 .is-active .tabber-icon{color:rgb(180, 209, 12);}
#tabs-1 > #tabs-2 > #tabs-3 .tabber-icon{font-size:100%;}
#tabs-1 > #tabs-2 > #tabs-3 .tabber-icon-before{display:none;}
#tabs-1 > #tabs-2 > #tabs-3 .tabber-icon-after{display:none;}
#tabs-1 > #tabs-2 > #tabs-3 .tabber-newline-before{display:none;}
#tabs-1 > #tabs-2 > #tabs-3 .tabber-newline-after{display:none;}
#tabs-1 > #tabs-2 > #tabs-3 .tabber-tab span{color:rgb(128, 128, 128);}
#tabs-1 > #tabs-2 > #tabs-3 .is-active.tabber-tab span{color:#333;}
#tabs-1 > #tabs-2 > #tabs-3 .tabber-tab span{font-size:100%;}
#tabs-1 > #tabs-2 > #tabs-3 .is-active.tabber-tab span{font-size:100%;}
#tabs-1 > #tabs-2 > #tabs-3 .tabber-tab{text-align:center;}
#tabs-1 > #tabs-2 > #tabs-3 .tabber-tab{background-color:white;}
#tabs-1 > #tabs-2 > #tabs-3 .is-active.tabber-tab{background-color:#eee;}
#tabs-1 > #tabs-2 > #tabs-3 .tabber-body{background-color:#eee;}
#tabs-1 > #tabs-2 > #tabs-3 .tabber-body{color:#333;}
#tabs-1 > #tabs-2 > #tabs-3 #tabber-preview-canvas{background-color:white;}
#tabs-1 > #tabs-2 > #tabs-3 .tabber-tab{border-color:white;}
#tabs-1 > #tabs-2 > #tabs-3 .is-active.tabber-tab{border-color:rgb(180, 209, 12);}
</style>