<script type="text/javascript" src="//app.ecwid.com/script.js?12346590"></script>
<script>
Ecwid.OnPageLoaded.add(function(page){
 if ( page.type == "CATEGORY" || page.type == "PRODUCT" || page.type == "CART" ) {

    require(["jquery"],function($){
        $('.ecwid-productBrowser-price').each(function() {
          if  ($(this).text() == Ecwid.formatCurrency(0) ) {
            $(this).hide();
          }       
        });
    });
 }
});
</script>